In [3]:
import pandas as pd
import csv

In [207]:
# add tx and template:
tx = pd.read_csv('ChildCareSearchResults_3.csv')

In [205]:
#add munchkin template as temp
temp = pd.read_csv('munchkin_template.csv')

In [208]:

#turn tx column names to the same:
#lowercase everything:
col_names = tx.columns
col_names = col_names.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

tx.columns = col_names #resave to tx.columns

#replace rename some tx columns
tx = tx.rename(columns={'operation/caregiver_name':'school_name', 'phone':'phone_number',\
                   'type':'provider_type', 'email_address':'email'})

# df.drop(subset = ['column_name'], axis=1, inplace=true)
cols_dropped = ['operation_#','agency_number', 'status', 'issue_date', 'capacity','monitoring_frequency', 'county']
tx = tx.drop(cols_dropped, axis=1)

In [209]:
print(tx.columns)
# print(tx_cl.columns)
print(temp.columns)

Index(['school_name', 'address', 'city', 'state', 'zip', 'phone_number',
       'provider_type', 'email', 'facility_id', 'infant', 'toddler',
       'preschool', 'school'],
      dtype='object')
Index(['school_name', 'description', 'application_fee', 'phone_number',
       'email', 'website_url', 'application due date',
       'is_accepting_applications', 'avg_waitlist_days', 'provider_type',
       'address', 'city', 'state', 'zip', 'neighborhood', 'ages',
       'is_full_time', 'has_half_day', 'is_co_op', 'is_part_time', 'hours'],
      dtype='object')

In [210]:
tx_cl = tx

In [211]:
tx_cl.head()

,school_name,address,city,state,zip,phone_number,provider_type,email,facility_id,infant,toddler,preschool,school
0,"K"" Street Learning Center LLC""",19290 K ST,SOMERSET,TX,78069.0,830-429-1010,Licensed Center - Child Care Program,sylvia@kstreetlearningcenter.com,773628,Y,Y,Y,Y
1,1.2..me Kidz,1222 BABCOCK RD,SAN ANTONIO,TX,78201.0,210-310-3990,Licensed Center - Child Care Program,kidz1.2me@yahoo.com,1325841,Y,Y,Y,Y
2,123 Sunshine Academy,15303 E ANTONE CIR,HOUSTON,TX,77071.0,281-810-9028,Licensed Child-Care Home,NaN,1287403,Y,Y,Y,Y
3,123-ABC Learning Center,5418 BAKERSFIELD ST,SAN ANTONIO,TX,78228.0,210-432-4895,Licensed Center - Child Care Program,lorena123Abc@aol.com,1299948,Y,Y,Y,Y
4,1st International Academy,1609 W HEBRON PKWY STE 104,CARROLLTON,TX,75010.0,469-688-5663,Licensed Center - Child Care Program,milee8877@gmail.com,1271777,Y,Y,Y,Y

In [220]:
temp.iloc[:5, 6:]

,application due date,is_accepting_applications,avg_waitlist_days,provider_type,address,city,state,zip,neighborhood,ages,is_full_time,has_half_day,is_co_op,is_part_time,hours
0,NaN,t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,f,0.0,NaN,NaN,NaN,NaN,33073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,t,NaN,In home (licensed),501 Silver Spring Ave.,Silver Spring,MD,20910,NaN,18month-preschool,t,t,f,t,7am-6pm
3,NaN,t,NaN,NaN,7727 Persimmon Tree Lane,Bethesda,MD,20817,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,t,NaN,daycare/preschool,8611 2nd Ave,Silver Spring,MD,NaN,Down Town Silver Spring,6 weeks-pre-K,t,t,f,t,7:00-6:00

In [213]:
#create col list
age_cols = ['infant', 'toddler', 'preschool', 'school', 'facility_id']

#combine infant,toddler,preschool... into one columnn what says which children the school accepts

tx_cl['ages'] = tx_cl[age_cols].apply(lambda x: ','.join(x.index[x == 'Y']), axis=1)

In [214]:
#get drop all age_cols:
tx_cl = tx_cl.drop(age_cols, axis=1)

In [231]:
# rearrange tx_cl columns to be in the same order as 
tx_cl = tx_cl[['school_name', 'phone_number', 'email', 'provider_type', 'address', 'city', 'state', 'zip','ages']]

## Format any columns that don't match

In [234]:
#format the columns all columns into title case to match template
# tx_cl.str.title()

tx_cl.apply(lambda x: x.astype(str).str.title())

# turn the state column back into UPPER
tx_cl.state.astype(str).str.upper()

0        TX
1        TX
2        TX
3        TX
4        TX
         ..
13187    TX
13188    TX
13189    TX
13190    TX
13191    TX
Name: state, Length: 13192, dtype: object

In [ ]:
#change "operation" to "school_name"
#List of things to fix:
#CHECK ages
#CHECK put in order

#List of cols I need to scrape still:

#1. application_fee
#2. website
#3. 'application due date'
#4. is_accepting_applications
#5. avg_waitlist_days
#6. provider_type
#7. neighborhood
#8. is_full_time
#9. has_half_day
#10. is_co_op
#11. is_part_time( do last)
#12. bring county down to neighborhood
#13. melt ages with preschool toddler...
#14. get the hours



#Q'S FOR ANNA: 
# half day vs part time?
#