In [107]:
import pandas as pd
import csv
import numpy as np

In [6]:
# add tx and template:
tx = pd.read_csv('ChildCareSearchResults_3.csv')

In [7]:
#add munchkin template as temp
temp = pd.read_csv('munchkin_template.csv')
temp.head()

,school_name,description,application_fee,phone_number,email,website_url,application due date,is_accepting_applications,avg_waitlist_days,provider_type,...,city,state,zip,neighborhood,ages,is_full_time,has_half_day,is_co_op,is_part_time,hours
0,Keshet Child Development Center,NaN,50.0,703-535-5525,keshetcdc@yahoo.com,www.keshetcdc.com,NaN,t,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CHESTERBROOK ACADEMY COCONUT CREEK,NaN,NaN,954-574-9711,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,33073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Vibrantots Daycare/Pre-school,NaN,50.0,716-796-9397,NaN,vibrantots.org,NaN,t,NaN,In home (licensed),...,Silver Spring,MD,20910,NaN,18month-preschool,t,t,f,t,7am-6pm
3,Kids Adventures Academy - Adat Shalom,NaN,50.0,240-678-6964,ptael@kidsadventures.com,kidsadventures.com,NaN,t,NaN,NaN,...,Bethesda,MD,20817,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Goddard School,NaN,50.0,301-830-4505,silverspringMD@goddardschools.com,NaN,NaN,t,NaN,daycare/preschool,...,Silver Spring,MD,NaN,Down Town Silver Spring,6 weeks-pre-K,t,t,f,t,7:00-6:00

In [8]:

#turn tx column names to the same:
#lowercase everything:
col_names = tx.columns
col_names = col_names.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

tx.columns = col_names #resave to tx.columns

#replace rename some tx columns
tx = tx.rename(columns={'operation/caregiver_name':'school_name', 'phone':'phone_number',\
                   'type':'provider_type', 'email_address':'email'})

# df.drop(subset = ['column_name'], axis=1, inplace=true)
cols_dropped = ['agency_number', 'status', 'issue_date', 'capacity','monitoring_frequency', 'county']
tx = tx.drop(cols_dropped, axis=1)

In [9]:
print(tx.columns)
# print(tx_cl.columns)
print(temp.columns)

Index(['operation_#', 'school_name', 'address', 'city', 'state', 'zip',
       'phone_number', 'provider_type', 'email', 'facility_id', 'infant',
       'toddler', 'preschool', 'school'],
      dtype='object')
Index(['school_name', 'description', 'application_fee', 'phone_number',
       'email', 'website_url', 'application due date',
       'is_accepting_applications', 'avg_waitlist_days', 'provider_type',
       'address', 'city', 'state', 'zip', 'neighborhood', 'ages',
       'is_full_time', 'has_half_day', 'is_co_op', 'is_part_time', 'hours'],
      dtype='object')

In [14]:
tx_cl = tx

In [11]:
tx_cl.head()

,operation_#,school_name,address,city,state,zip,phone_number,provider_type,email,facility_id,infant,toddler,preschool,school
0,1239246,"K"" Street Learning Center LLC""",19290 K ST,SOMERSET,TX,78069.0,830-429-1010,Licensed Center - Child Care Program,sylvia@kstreetlearningcenter.com,773628,Y,Y,Y,Y
1,1687698,1.2..me Kidz,1222 BABCOCK RD,SAN ANTONIO,TX,78201.0,210-310-3990,Licensed Center - Child Care Program,kidz1.2me@yahoo.com,1325841,Y,Y,Y,Y
2,1660660,123 Sunshine Academy,15303 E ANTONE CIR,HOUSTON,TX,77071.0,281-810-9028,Licensed Child-Care Home,NaN,1287403,Y,Y,Y,Y
3,1669438,123-ABC Learning Center,5418 BAKERSFIELD ST,SAN ANTONIO,TX,78228.0,210-432-4895,Licensed Center - Child Care Program,lorena123Abc@aol.com,1299948,Y,Y,Y,Y
4,1648324,1st International Academy,1609 W HEBRON PKWY STE 104,CARROLLTON,TX,75010.0,469-688-5663,Licensed Center - Child Care Program,milee8877@gmail.com,1271777,Y,Y,Y,Y

In [141]:
# temp.iloc[20:40, :]

temp.dtypes

school_name                   object
description                   object
application_fee              float64
phone_number                  object
email                         object
website_url                   object
application due date         float64
is_accepting_applications     object
avg_waitlist_days            float64
provider_type                 object
address                       object
city                          object
state                         object
zip                           object
neighborhood                  object
ages                          object
is_full_time                  object
has_half_day                  object
is_co_op                      object
is_part_time                  object
hours                         object
dtype: object

In [146]:
temp[temp['application due date'].isnull()]

,school_name,description,application_fee,phone_number,email,website_url,application due date,is_accepting_applications,avg_waitlist_days,provider_type,...,city,state,zip,neighborhood,ages,is_full_time,has_half_day,is_co_op,is_part_time,hours
0,Keshet Child Development Center,NaN,50.0,703-535-5525,keshetcdc@yahoo.com,www.keshetcdc.com,NaN,t,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CHESTERBROOK ACADEMY COCONUT CREEK,NaN,NaN,954-574-9711,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,33073,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Vibrantots Daycare/Pre-school,NaN,50.0,716-796-9397,NaN,vibrantots.org,NaN,t,NaN,In home (licensed),...,Silver Spring,MD,20910,NaN,18month-preschool,t,t,f,t,7am-6pm
3,Kids Adventures Academy - Adat Shalom,NaN,50.0,240-678-6964,ptael@kidsadventures.com,kidsadventures.com,NaN,t,NaN,NaN,...,Bethesda,MD,20817,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Goddard School,NaN,50.0,301-830-4505,silverspringMD@goddardschools.com,NaN,NaN,t,NaN,daycare/preschool,...,Silver Spring,MD,NaN,Down Town Silver Spring,6 weeks-pre-K,t,t,f,t,7:00-6:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12352,MOORE'S DAY CARE PREPARATORY SCHOOL,NaN,NaN,323-242-9500,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,90250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12353,LAKEVIEW CHILD CARE CENTER CITY OF SANTA FE SP...,NaN,NaN,562-868-9851,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,90670,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12354,"BRIGHT STEP, INCORPORATED DBA BEGINNINGS",NaN,NaN,310-828-0858,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,91601,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12355,CHILDREN'S CREATIVE LEARNING CENTERS AT EA - (...,NaN,NaN,650-628-2949,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,94065,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12356,SAN FERNANDO EARLY EDUCATION CENTER,NaN,NaN,818-365-9105,NaN,NaN,NaN,f,0.0,NaN,...,NaN,NaN,91340,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#create col list
age_cols = ['infant', 'toddler', 'preschool', 'school', 'facility_id']

#combine infant,toddler,preschool... into one columnn what says which children the school accepts

tx_cl['ages'] = tx_cl[age_cols].apply(lambda x: ','.join(x.index[x == 'Y']), axis=1)

In [16]:
#get drop all age_cols:
tx_cl = tx_cl.drop(age_cols, axis=1)

In [231]:
# rearrange tx_cl columns to be in the same order as 
tx_cl = tx_cl[['school_name', 'phone_number', 'email', 'provider_type', 'address', 'city', 'state', 'zip','ages']]

## Format any columns that don't match

In [110]:
#format the columns all columns into title case to match template
# tx_cl.str.title()

tx_cl = tx_cl.apply(lambda x: x.astype(str).str.title())

# turn the state column back into UPPER
tx_cl.state = tx_cl.state.astype(str).str.upper()


tx_cl['zip'] = pd.to_numeric(tx_cl['zip'], errors='coerce')
tx_cl['zip'] = tx_cl['zip'].replace(np.nan, 0, regex=True)
tx_cl['zip'] = tx_cl['zip'].astype(int)
# tx_cl[~tx_cl['zip'].isnull()].astype(int)
tx_cl.tail()

,operation_#,school_name,address,city,state,zip,phone_number,provider_type,email,ages
13187,1526491,Zorailyn Becerra,810 Enchanted Rock,San Antonio,TX,78260,210-571-9142,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School"
13188,1715417,Zuba Habib,1209 Canyon Creek Dr,Mckinney,TX,75072,214-310-7453,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School"
13189,866546,Zulema Calderon,3705 Exodus St,El Paso,TX,79936,915-329-3970,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School"
13190,543781,Zulema Godfrey,3107 O W Curry Dr,Killeen,TX,76542,254-213-6194,Registered Child-Care Home,Zulemagodfrey50@Gmail.Com,"Infant,Toddler,Preschool,School"
13191,997866,Zweites Haus School Of Wimberley Llc,1500 Fischer Store Rd,Wimberley,TX,78676,512-847-7459,Licensed Center - Child Care Program,Nan,"Infant,Toddler,Preschool,School"

In [91]:
tx_cl.tail()

,operation_#,school_name,address,city,state,zip,phone_number,provider_type,email,ages
13187,1526491,Zorailyn Becerra,810 Enchanted Rock,San Antonio,TX,78260.0,210-571-9142,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School"
13188,1715417,Zuba Habib,1209 Canyon Creek Dr,Mckinney,TX,75072.0,214-310-7453,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School"
13189,866546,Zulema Calderon,3705 Exodus St,El Paso,TX,79936.0,915-329-3970,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School"
13190,543781,Zulema Godfrey,3107 O W Curry Dr,Killeen,TX,76542.0,254-213-6194,Registered Child-Care Home,Zulemagodfrey50@Gmail.Com,"Infant,Toddler,Preschool,School"
13191,997866,Zweites Haus School Of Wimberley Llc,1500 Fischer Store Rd,Wimberley,TX,78676.0,512-847-7459,Licensed Center - Child Care Program,Nan,"Infant,Toddler,Preschool,School"

In [66]:
#check to see if there are duplicate names

dups = tx_cl.groupby('operation_#').count()
dups = dups[dups['address'] > 1]
dups

Empty DataFrame
Columns: [school_name, address, city, state, zip, phone_number, provider_type, email, ages]
Index: []

In [111]:
tx_cl.to_csv('texas_munchkin_1.csv', index=False)

#### bring in websites and hours csv

In [112]:
#get web and hours csv for the columns
wah = pd.read_csv('TX_website_and_hours_scraped.csv')

#ditch duplicate operation# rows

wah.drop_duplicates(subset=['operation_#'],inplace=True)

# wah.loc[0, 'operation_#'])
# wah['operation_#'] = wah['operation_#'].astype(int)

wah['operation_#'].dropna()
wah['nullsers'] = wah['operation_#'].isnull()

wah = wah[wah['nullsers'] == False ]

wah['operation_#'] = wah['operation_#'].astype(int)

wah.drop('nullsers', axis=1, inplace=True)

In [115]:
tx_cl['operation_#'] = tx_cl['operation_#'].astype(int)
type(tx_cl.loc[0,'operation_#'])

numpy.int64

In [116]:
#merge the csvs
# df1.merge(df2, how='left')

texas_munchkin_2 = tx_cl.merge(wah, how='left')

# texas_munchkin_2 = pd.merge(tx_cl, wah, left_on='operation_#')
texas_munchkin_2.tail()

,operation_#,school_name,address,city,state,zip,phone_number,provider_type,email,ages,website_url,hours,days
13187,1526491,Zorailyn Becerra,810 Enchanted Rock,San Antonio,TX,78260,210-571-9142,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School",NaN,Monday - Friday 06:30 AM-06:00 PM,Monday - Friday
13188,1715417,Zuba Habib,1209 Canyon Creek Dr,Mckinney,TX,75072,214-310-7453,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School",NaN,Monday - Friday 07:15 AM-05:45 PM,Monday - Friday
13189,866546,Zulema Calderon,3705 Exodus St,El Paso,TX,79936,915-329-3970,Registered Child-Care Home,Nan,"Infant,Toddler,Preschool,School",NaN,Monday - Saturday 07:00 AM-06:00 PM,Monday - Saturday
13190,543781,Zulema Godfrey,3107 O W Curry Dr,Killeen,TX,76542,254-213-6194,Registered Child-Care Home,Zulemagodfrey50@Gmail.Com,"Infant,Toddler,Preschool,School",NaN,Monday - Sunday 05:00 AM-07:30 PM,Monday - Sunday
13191,997866,Zweites Haus School Of Wimberley Llc,1500 Fischer Store Rd,Wimberley,TX,78676,512-847-7459,Licensed Center - Child Care Program,Nan,"Infant,Toddler,Preschool,School",www.learningandlove.com,Monday - Friday 07:15 AM-06:00 PM,Monday - Friday

In [138]:
#save newest version of texas_munchkin to csv
#-m "add websites and hours"
texas_munchkin_2.to_csv('texas_munchkin_2.csv', index=False)
texas_munchkin_to_join = pd.read_csv('texas_munchkin_2.csv')

# tx_cl = tx_cl.drop(age_cols, axis=1)
texas_munchkin_to_join = texas_munchkin_to_join.drop(['operation_#','days'], axis=1)

In [149]:
texas_munchkin_to_join['zip'] = texas_munchkin_to_join['zip'].astype(str)
texas_munchkin_to_join.dtypes

school_name      object
address          object
city             object
state            object
zip              object
phone_number     object
provider_type    object
email            object
ages             object
website_url      object
hours            object
dtype: object

In [154]:
template_plus_tx = pd.merge(temp, texas_munchkin_to_join, how='outer')
template_plus_tx.tail()

,school_name,description,application_fee,phone_number,email,website_url,application due date,is_accepting_applications,avg_waitlist_days,provider_type,...,city,state,zip,neighborhood,ages,is_full_time,has_half_day,is_co_op,is_part_time,hours
25544,Zorailyn Becerra,NaN,NaN,210-571-9142,Nan,NaN,NaN,NaN,NaN,Registered Child-Care Home,...,San Antonio,TX,78260,NaN,"Infant,Toddler,Preschool,School",NaN,NaN,NaN,NaN,Monday - Friday 06:30 AM-06:00 PM
25545,Zuba Habib,NaN,NaN,214-310-7453,Nan,NaN,NaN,NaN,NaN,Registered Child-Care Home,...,Mckinney,TX,75072,NaN,"Infant,Toddler,Preschool,School",NaN,NaN,NaN,NaN,Monday - Friday 07:15 AM-05:45 PM
25546,Zulema Calderon,NaN,NaN,915-329-3970,Nan,NaN,NaN,NaN,NaN,Registered Child-Care Home,...,El Paso,TX,79936,NaN,"Infant,Toddler,Preschool,School",NaN,NaN,NaN,NaN,Monday - Saturday 07:00 AM-06:00 PM
25547,Zulema Godfrey,NaN,NaN,254-213-6194,Zulemagodfrey50@Gmail.Com,NaN,NaN,NaN,NaN,Registered Child-Care Home,...,Killeen,TX,76542,NaN,"Infant,Toddler,Preschool,School",NaN,NaN,NaN,NaN,Monday - Sunday 05:00 AM-07:30 PM
25548,Zweites Haus School Of Wimberley Llc,NaN,NaN,512-847-7459,Nan,www.learningandlove.com,NaN,NaN,NaN,Licensed Center - Child Care Program,...,Wimberley,TX,78676,NaN,"Infant,Toddler,Preschool,School",NaN,NaN,NaN,NaN,Monday - Friday 07:15 AM-06:00 PM

In [156]:
#save TX with template
template_plus_tx.to_csv('template_plus_tx', index=False)

In [ ]:
#just incase it didn't save:

website_hours_scraped = wah
website_hours_scraped.drop_duplicates(subset=['operation_#'],inplace=True)
website_hours_scraped.tail()


website_hours_scraped.to_csv('./TX_website_and_hours_scraped.csv', index=False)
website_hours_scraped.tail()

In [ ]:
#change "operation" to "school_name"
#List of things to fix:
#CHECK ages
#CHECK put in order

#deliver easy texas parts
#List of cols I need to scrape still:

#1. application_fee
#2. *website
#3. 'application due date'
#4. is_accepting_applications
#5. avg_waitlist_days
#6. CHECK provider_type
#7. neighborhood
#8. is_full_time
#9. has_half_day
#10. is_co_op
#11. is_part_time( do last)
#12. bring county down to neighborhood
#13. CHECK melt ages with preschool toddler...
#14. *get the hours
#15 make sure you have all certified and non certified
#16. check to see if there are extra child_care options on TX

#Q'S FOR ANNA: 
# half day vs part time?
# do you want other TX place?